body
{
    font-family: sans-serif;
    direction: rtl;
}
section {
    background-color: #ffffff;
    padding: 2rem;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    direction: rtl;
}

.packages .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;

}
.packages .box-container .box{
    flex:1 1 20rem;
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.70);
    border-radius: 30px;
    width: 100%;
    transition: 0.7s ease;
    -webkit-transition: 0.7s ease;
    -moz-transition: 0.7s ease;
    -ms-transition: 0.7s ease;
    -o-transition: 0.7s ease;
}
.packages .box-container .box:hover{
    font-weight: 1000%;
    transform: scale(1.1);
    width: 90%;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.packages .box-container .box img{
    height: 15rem;
}